@import url('./reset.css');

/* General layout */
.box {
    border: 1px solid black;
    width: 25%;
}

.palette-wrapper {
    max-width: 80%;
    display: flex;
    height: 600px;
    margin-inline: auto;
}

/* Library */

.library .palette-wrapper {
    display: flex;
    flex-direction: column;
} 

.library .box {
    width: 100%;
    height: 200px;
}

@media (min-width: 50em) {
    .library .palette-wrapper {
        display: grid; 
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto);
    }

    .library .palette-title {
        grid-column: span 5;
    }

    .library .box {
        height: 300px;
    }
}

.closed {
    color: red;
}

/* Edit hover */

.box {
    position: relative;
}

.box:hover {
    cursor: pointer;
}

.hover-edit {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;    
    width: 36px;
    top: 20px;
    right: 20px;
}

.box:hover .hover-edit {
    opacity: 1;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    inset: 0;
    transition: background-color 0.3s ease;
}

.box:hover .overlay {
    background-color: rgba(0, 0, 0, 0.1);
}

