@import url('./reset.css');

:root{
    --clr-primary: #2b009c;

    --clr-accent-400: #fc4857; 
    --clr-accent-500: #b53bca10;
    --clr-accent-550: #b53bca43;
  
    --clr-neutral-100: #f6f4f7;
    --clr-neutral-500: rgb(67, 67, 67);
    --clr-neutral-900: #160248;
  
    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Raleway", sans-serif;;
  
    --ff-body: var(--ff-secondary);
    --ff-h1: var(--ff-primary);
    --ff-h2: var(--ff-secondary);
  
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
  
    --fs-100: .95rem;
    --fs-200: 1rem;
    --fs-300: 1.5rem;
    --fs-400: 2rem;
    --fs-500: 2.25rem;
    --fs-600: 3rem;
    --fs-700: 5rem;
    --fs-800: 6rem;
    --fs-900: 8rem;
  
    --fs-body: var(--fs-200);
    --fs-primary-heading: clamp(var(--fs-500), 15vw, var(--fs-700));
    --fs-secondary-heading: var(--fs-400);
    --fs-nav: var(--fs-100);
  
    --size-100: .75rem;
    --size-200: 1rem;
    --size-300: 1.5rem;
    --size-400: 2rem;
    --size-500: 3rem;
    --size-600: 4rem;
    --size-700: 5rem;
  }
  
  @media (min-width: 768px) {
    :root {
      --fs-body: var(--fs-300);
      --fs-primary-heading: clamp(var(--fs-600), 20vw, var(--fs-800));
      --fs-secondary-heading: var(--fs-500);
    }
}

    @media (min-width: 1200px) {
    :root {
        --fs-primary-heading: clamp(var(--fs-700), 20vw, var(--fs-900));
    }
  }


  
/* General layout */
body{
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-100);
    width: 100%;
  }

  
h1 {
    font-size: var(--fs-primary-heading);
    font-family: var(--ff-h1);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-100);
}

h2 {
    font-size: var(--fs-secondary-heading);
    padding-block: var(--size-200);
}

p {
    text-wrap: balance;
}

main {
    padding: 0  var(--size-400) var(--size-400) var(--size-400);
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

footer {
    font-size: var(--fs-nav);
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-900);
    text-align: center;
    padding: var(--size-100);
}


/* Buttons (color variations) */
.btn-custom {
    color: var(--clr-neutral-900);
    border-color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-100);
}

.btn-custom:hover {
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100)
}

.btn-custom-inverse {
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-900); 
}

.btn-custom-inverse:hover {
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-100);
    border-color: var(--clr-neutral-900);
}

.delete-btn {
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-900);  
}

.delete-btn:hover {
    background-color:var(--clr-accent-400);
}

.btn-accent-purple {
    color: var(--clr-neutral-900);
    border-color: var(--clr-neutral-900);
    background-color: var(--clr-accent-500);
}

.btn-accent-purple:hover {
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-550);
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-200);
}

@media (min-width: 576px) {
    .btn-wrapper {
        flex-direction: row;
    }
}

/* Primary Navigation */
.primary-heading {
    position: sticky;
    z-index: 10;
    top: 0;
}

.primary-navigation {
    padding: var(--size-100);
    background-color: var(--clr-neutral-100);
}

.nav-list {
    display: flex;
    gap: clamp(var(--size-300), 3vw, var(--size-600));
    justify-content: center;
    align-items: center;
    margin: 0;
}

.nav-list a {
    color: var(--clr-primary);
    font-size: var(--fs-nav);
    font-weight: var(--fw-semi-bold);
    transition: font-weight 0.2s ease;
}

.nav-list a:hover {
    text-decoration: none;
    font-weight: var(--fw-bold);
}

.mobile-nav-toggle {
    display: none;
}

@media (max-width: 576px) {
    .primary-heading {
        background-color: var(--clr-neutral-100);
    }

    .mobile-nav-toggle {
        display: block;
        cursor: pointer;
        padding: var(--size-200);
        border: none;
        background-color: transparent;
    }

    .mobile-nav-toggle .hamburger-icon {
        width: 40px;
    }

    .mobile-nav-toggle .close-icon {
        width: 40px;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        gap: var(--size-200);
    }

    .primary-navigation {
        display: none;
    }

    .primary-navigation[data-visible] {
        display: block;
    }
}





/* Index Page (Create a Palette) */
.main-graphic {
    background-color: #160248;
    background-image: url('../assets/images/main-graphic.png');
    background-size: cover;
    background-position: center;
    padding: 0 2rem;
    overflow: hidden;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 95%;
}

@media (min-width: 576px) {
    .main-graphic {
        min-height: 80vh;
    }
}


/* Palette Layout */
/* Applies to index, library, and contrast pages */
.palette-wrapper {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: 100%;
    gap: var(--size-200);
} 

/* No gap between boxes on index page */
.create .palette-wrapper {
    gap: 0;
    padding-block: var(--size-200);
}

.box, .box-contrast {
    border: 1px solid var(--clr-neutral-500);
    border-top: none;
    width: 100%;
    height: 15vh;
}

.box:first-of-type, 
.box-contrast:first-of-type {
    border-top: 1px solid var(--clr-neutral-500);
}

.box:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.color-code {
    position: absolute;
    left: 20px;
    top: 10px;
    font-weight: var(--fw-semi-bold);
}

@media (min-width: 768px) {
    .palette-wrapper {
        flex-direction: row;
    }

    .box {
        height: 60vh;
        border: 1px solid var(--clr-neutral-500);
        border-left: none;
    }

    .box-contrast {
        height: 30vh;
        border: 1px solid var(--clr-neutral-500);
        border-left: none;
    }

    .box:first-of-type, 
    .box-contrast {
        border-left: 1px solid var(--clr-neutral-500);
    }
}


/* Library */
.library-heading {
    padding-top: var(--size-500);
    display: flex;
    flex-direction: column;
    gap: var(--size-200);
    width: 90%;
}

.library-heading h1 {
    color: var(--clr-neutral-900);
}

#library-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--size-300);
    width: 95%;
}



@media (min-width: 768px) {
    #library-wrapper {
        gap: var(--size-600);
    }

    .library .palette-wrapper,
    .contrast .palette-wrapper {
        display: flex; 
        flex-direction: column;
        gap: var(--size-400);
    }

    .library .box {
        height: 40vh;
    }

    .box-wrapper {
        display: flex;
    }
}

/* Edit hover on library page */
.box, 
.box-contrast {
    position: relative;
}

.box:hover,
.box-contrast:hover {
    cursor: pointer;
}

.hover-edit {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;    
    width: 65px;
    top: 20px;
    right: 20px;
}

/* Change the icon on the contrast page */
.box:hover .hover-edit,
.box-contrast:hover .hover-edit {
    opacity: 1;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    inset: 0;
    transition: background-color 0.3s ease;
}

.box:hover .overlay,
.box-contrast:hover .overlay {
    background-color: rgba(0, 0, 0, 0.1);
}



/* Color Playground */
.playground {
    display: grid;
}

.playground h1 {
    color: var(--clr-primary);
    font-size: clamp(var(--fs-400), 10vw, var(--fs-600));
}

@media (min-width: 1200px) {
  .playground h1 {
    font-size: clamp(var(--fs-600), 15vw, var(--fs-900));
}
}

.large {
    display: flex;
    width: 100%;
    height: 250px;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--clr-neutral-500);
    cursor: pointer;
}

.large:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.large:first-of-type {
    border-bottom: none;
}

.small {
    width: 25%;
    height: 50px;
}

.exercise-wrapper {
    padding-top: var(--size-100);
}

@media (min-width: 768px) {
    .exercise-wrapper {
        display: flex;
        justify-content: space-evenly;
    }

    .large {
        width: 40%;
        height: 550px;
        justify-content: center;
        align-items: center;
        margin-inline: 0;
    }

    .large:first-of-type {
        border-bottom: 1px solid var(--clr-neutral-500);
    }
    
    .small {
        width: 15%;
        height: 200px;
    }
}



/* Contrast */
.contrast h1 {
    color: var(--clr-primary);
    font-size: var(--fs-500);
}

@media (min-width: 768px) {
    .contrast h1 {
        font-size: var(--fs-700);
    }
}

.box-contrast.selected {
    border: 8px solid var(--clr-neutral-900); 
}

#palette-container {
    width: 95%;
}

.fine-print {
    font-size: var(--fs-100);
}

main.contrast {
    gap: var(--size-200);
}

.contrast-instructions {
    padding: var(--size-400);
    text-wrap: balance;
    display: flex;
    flex-direction: column;
    gap: var(--size-200);
}

/* Playground Headings */
.playground-graphic {
    background-color: var(--clr-neutral-100);
    background-image: url('../assets/images/3-mallas.png');
    background-size: cover;
    background-position: center;
    padding: 0 2rem;
    overflow: hidden;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructions {
    max-width: 80%;
    margin-inline: auto;
}



/* Utility Classes */
.center {
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hidden {
    display: none;
}