@import url('./reset.css');

:root{
    --clr-primary-500: #7044f3;
    --clr-primary-900: #2b009c;
  
    --clr-accent-200: #d3e917; 
    --clr-accent-300: #08df98;
    --clr-accent-400: #fd7c87; 
    --clr-accent-500: #b53bca;
  
    --clr-neutral-100: #f6f4f7;
    --clr-neutral-900: #160248;
  
    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Raleway", sans-serif;;
  
    --ff-body: var(--ff-secondary);
    --ff-h1: var(--ff-primary);
    --ff-h2: var(--ff-secondary);
  
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
  
    --fs-100: .70rem;
    --fs-200: .8125rem;
    --fs-300: .9375rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.4375rem;
    --fs-700: 1.75rem;
    --fs-800: 2.25rem;
    --fs-900: 2.5rem;
  
    --fs-body: var(--fs-200);
    --fs-primary-heading: var(--fs-700);
    --fs-secondary-heading: var(--fs-600);
    --fs-nav: var(--fs-300);
    --fs-button: var(--fs-300);
    --fs-footer: var(--fs-100);
  
  
    --size-100: .25rem;
    --size-200: .5rem;
    --size-300: .75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;
  }
  
  @media (min-width: 50em) {
    :root {
      --fs-body: var(--fs-200);
      --fs-primary-heading: var(--fs-300);
      --fs-secondary-heading: var(--fs-800);
      --fs-nav: var(--fs-400);
      --fs-button: var(--fs-400);
      --fs-footer: var(--fs-200);
    }
  }

/* General layout */
body{
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-100);
    width: 100%;
  }
  
h1 {
    font-family: var(--ff-h1);
}

h2 {
    font-size: var(--fs-secondary-heading);
}


/* Buttons */
.btn {
    display: inline-block;
    border: 1px solid black;
    padding: .25em .5em;
    text-decoration: none;
    font-family: var(--ff-button);
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

@media (min-width: 38em) {
    .btn-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
    }
}



/* Primary Navigation */
.primary-heading {
    background-color: var(--clr-neutral-100);
    position: sticky;
    z-index: 10;
    top: 0;
}

.primary-navigation {
    padding: var(--size-300);
}

.nav-list {
    display: flex;
    gap: 2.5em;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.nav-list a {
    color: var(--clr-primary-900);
    font-size: var(--fs-300);
    font-weight: var(--fw-semi-bold);
    transition: font-weight 0.2s ease;
}

.nav-list a:hover {
    text-decoration: none;
    font-weight: var(--fw-bold);
}



/* Index Page */
.main-graphic {
    background-color: #160248;
    background-image: url('../assets/images/main-graphic.png');
    background-size: cover;
    background-position: center;
    padding: 0 2rem;
    overflow: hidden;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-heading span{
    overflow-wrap: break-word;
    word-break: break-word;
}

.main-heading {
    font-weight: bold;
    color: var(--clr-neutral-100);
}

@media (min-width: 38em) {
    .main-graphic {
        min-height: 80vh;
    }

    .main-heading {
        font-size: clamp(3rem, 15vw, 6rem);
    }
}

@media (min-width: 64em) {
    .main-heading {
        font-size: clamp(5rem, 20vw, 8rem);
    }
}


/* Palette Layout */

.palette-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-inline: auto;
} 

.box {
    border: 1px solid rgb(67, 67, 67);
    border-top: none;
    width: 100%;
    height: 20vh;
}

.box:first-of-type {
    border-top: 1px solid rgb(67, 67, 67);
}

@media (min-width: 50em) {
    .palette-wrapper {
        flex-direction: row;
    }

    .box {
        height: 60vh;
        border: 1px solid rgb(67, 67, 67);
        border-left: none;
    }

    .box:first-of-type {
        border-left: 1px solid rgb(67, 67, 67);
    }
}


/* Library */

@media (min-width: 50em) {
    .library .palette-wrapper,
    .contrast .palette-wrapper {
        display: flex; 
        flex-direction: column;
        gap: 1.5em;
        padding-block: 3em;
    }
    
/* 
    .library .box {
        height: 300px;
    } */

    .box-wrapper {
        display: flex;
    }

    .library .button-wrapper {
        grid-column: span 5;
    }
}


/* Edit hover */

.box {
    position: relative;
}

.box:hover {
    cursor: pointer;
}

.hover-edit {
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;    
    width: 36px;
    top: 20px;
    right: 20px;
}

.box:hover .hover-edit {
    opacity: 1;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    inset: 0;
    transition: background-color 0.3s ease;
}

.box:hover .overlay {
    background-color: rgba(0, 0, 0, 0.1);
}



/* Color Playground */

.large {
    display: flex;
    width: 80%;
    height: 250px;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.small {
    width: 25%;
    height: 50px;
}

@media (min-width: 50em) {
    .exercise-wrapper {
        display: flex;
        justify-content: space-evenly;
    }

    .large {
        width: 40%;
        height: 600px;
        justify-content: center;
        align-items: center;
        margin-inline: 0;
    }
    
    .small {
        width: 15%;
        height: 200px;
    }
}




/* Contrast */
.contrast {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.selected {
    border: 3px solid greenyellow;
}

/* @media (min-width: 38em) {
    .contrast .palette-title {
        
    }
} */


/* Playground and Contrast Headings */
.playground h3,
.contrast h3 {
    max-width: 90%;
    margin-inline: auto;
    text-wrap: balance;
}

@media (min-width: 38em) {
    .playground h3 {
        max-width: 60%;
    }
}



/* Utility Classes */
.center {
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.padding-block-3 {
    padding-block: 3em;
}

.padding-block-1 {
    padding-block: 1em;
}